<div class="dish-card">
  <img
    [src]="dish.image"
    class="mb-4"/>
  <p class="dish-card-categories">
    {{ getCategory(dish.category) }}
  </p>
  <p class="dish-card-title mt-3">{{ dish.title }}</p>
  <p class="dish-card-meta mb-2 font-italic">from {{ dish.origin }}</p>
  <p class="dish-card-description mb-3">{{ dish.description.slice(0, 70) }}...</p>
  <!-- <p class="dish-card-meta">Cooking time: {{ dish.cookingTime }} minutes</p> -->
  <button
    class="mt-4"
    routerLink="/dish/{{ dish._id }}">
    Take a Look
  </button>
</div>