.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3fa12;
  border-radius: 15px 15px 0 0;
}

.footer .copyright {
  color: #000000;
  font-size: var(--font-small);
}