<div class="col-md-12 container">

  <div class="home-slider-wrapper mt-4 mb-3">

    <!-- <div class="home-categories">
      <div class="category"
        *ngFor="let category of categories.slice(0, 9)">
        {{ category }}
      </div>
    </div> -->
    
    <div class="home-slider">
      <div class="slider-left">
        <p class="mt-3 mb-2 slider-description font-italic">
          <!-- From {{ dishes[activeIndex].origin.name }} -->
        </p>
        <p class="title">
          {{ dishes[activeIndex].title }}
        </p>
        <p class="mt-5 mb-3 slider-description">
          {{ dishes[activeIndex].description.slice(0, 100) }}...
        </p>
        <p class="mb-5 slider-description font-italic">
          Takes just {{ dishes[activeIndex].ingredients.length }} ingredients<br/>
          and {{ dishes[activeIndex].cookingTime }} minutes!
        </p>
        <button
          class="mb-5"
          routerLink="/dishes">
          Dishcover More
        </button>
      </div>
      <div class="slider-right">
        <img [src]="'../../../../assets/images/dummy/'+dishes[activeIndex].image"/>
      </div>
    </div>

    <div class="home-sidebar">
      <div class="count-card">
        <span class="material-icons">category</span>
        <p class="count">
          {{ dishCount }}
        </p>
        <p>
          Delicious dishes
        </p>
      </div>
      <div class="count-card">
        <span class="material-icons">supervised_user_circle</span>
        <p class="count">
          {{ userCount }}
        </p>
        <p>
          Happy users
        </p>
      </div>
    </div>
  </div>
  
  <div class="content mt-5">
    <div class="row">
      <div class="col-md-12 mb-3 mt-5 section-title">
        Popular Dishes
      </div>
      <div *ngFor="let dish of dishes.slice(0, 8)" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-4"> 
        <app-dish-card
          [dish]="dish">
        </app-dish-card>
      </div>
      <div class="col-md-12 text-center">
        <button class="btn-warning mt-3"
          routerLink="/dishes">
          More Dishes&nbsp;&nbsp;&nbsp;→
        </button>
      </div>
    </div>
    
  </div>
</div>
