.admin-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.admin-content {
  display: flex;
  
}

.admin-nav {
  flex: 1;
  background-color: rgb(242, 242, 242);
  border-radius: 15px;
  padding: 10px 0;
  margin-right: 20px;
  min-width: 250px;
  max-width: 250px;
  min-height: calc(100vh - 290px);
}

.admin-nav button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 20px;
  margin: 0;
  margin-right: 40px;
  border-radius: 0;
  width: 100%;
  text-align: left;
  border-bottom: thin solid #dadada;
}

.admin-nav button:last-of-type {
  border-bottom: none;
}

.admin-nav button.active {
  font-weight: bold;
  color: rgb(96, 171, 20);
}