.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: var(--header-color);
  width: calc(100% - 30px);
  margin-left: 15px;
  border-radius: 0 0 15px 15px;
  backdrop-filter: blur(20px);
}

.header .logo {
  font-size: 24px;
  text-transform: lowercase;
  color: #00ef34;
  margin-right: 50px;
  cursor: pointer;
  font-weight: bold;
}

.header .logo span {
  display: inline-block;
  color: #01aa25;
  font-weight: 200;
}

.header .logo img {
  width: 25px;
  margin-top: -5px;
}

.header .nav button {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid transparent;
  outline: none;
  margin: 0 20px;
  transition: 0.3s;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -4px;
}

.header .nav button:hover {
  color: #01aa25;
}

.header input {
  border: none;
  background-color: #fff;
  min-width: 350px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.header .nav button.active {
  color: #04c52e;
  border-bottom: 4px solid #00ef34 !important;
}

.header .auth {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .auth button {
  border-radius: 20px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}