<div class="header">
  <div class="d-flex">
    <div class="logo"
      routerLink="/">
      <img src="https://images.emojiterra.com/twitter/v13.1/512px/1f33f.png"/>
      Dish<span>covery</span>
    </div>
    <div class="nav">
      <button routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
      </button>
      <button routerLink="/dishes"
        routerLinkActive="active">
        Dishes
      </button>
      <button routerLink="/about"
        routerLinkActive="active">
        About
      </button>
    </div>
  </div>
  <div>
    <form #searchForm="ngForm" (ngSubmit)="searchDish()">
      <input type="text"
        class="form-control"
        placeholder="Search recipe..."
        [(ngModel)]="search"
        [ngModelOptions]="{ standalone: true }">
    </form>
  </div>
  <div class="auth">
    <button *ngIf="isLoggedIn"
      routerLink="/admin"
      class="mr-3"
      routerLinkActive="active">
      Manage
    </button>
    <button *ngIf="!isLoggedIn"
      class="mr-3 form-control btn-warning"
      routerLink="/register">
      Sign Up
    </button>
    <button *ngIf="!isLoggedIn"
      class="form-control btn-primary"
      routerLink="/login">
      Log In
    </button>
    <button *ngIf="isLoggedIn"
      class="form-control btn-danger"
      (click)="logout()">
      Log Out
    </button>
  </div>
</div>