<div class="col-md-12 container">
    
  <div class="col-md-12 mb-4 page-title font-weight-normal">
    <ng-container *ngIf="search && search.length > 0; else noSearch">
      <p>Searching for <span class="font-weight-bold">{{ search }}</span></p>
    </ng-container>
    <ng-template #noSearch>
      <p class="font-weight-bold">Delicious Dishes</p>
    </ng-template>
  </div>  

  <div class="col-md-12 p-0"
    *ngIf="isLoading || (dishes && dishes.length > 0); else noResult">
    <div class="row">
      <div *ngFor="let dish of dishes" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-4"> 
        <app-dish-card
          [dish]="dish">
        </app-dish-card>
      </div>
    </div>
  </div>

  <ng-template #noResult>
    <div class="col-md-12 no-result">
      <p>
        Nothing found!<br/><br/>
        Please come back later,<br/>you may find something interesting.
      </p>
    </div>
  </ng-template>

  <div class="col-md-12 text-center mt-4"
    *ngIf="dishes && dishes.length > 0 && dishCount > count">
    <button class="btn-warning mr-3"
      (click)="prev()"
      [disabled]="disablePrev()">
      ←&nbsp;&nbsp;&nbsp;Previous
    </button>
    <button class="btn-warning"
      (click)="next()"
      [disabled]="disableNext()">
      Next&nbsp;&nbsp;&nbsp;→
    </button>
  </div>

</div>